*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* RESET END*/

/* COLORS */
:root {
  --primary_dark_cyan: hsl(185, 75%, 39%);
  --primary_dark_blue: hsl(229, 23%, 23%);
  --primary_dark_grayish: hsl(227, 10%, 46%);

  --neutral_dark_gray: hsl(0, 0%, 59%);
}

/* MAIN START*/

body {
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--primary_dark_cyan);
  background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
  background-position: right 50vw bottom 40vh, 50vw 50vh;
  background-repeat: no-repeat;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 18px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


main {
  margin: 1rem;
  }

.card {
  border-radius: 1rem;
  overflow: hidden;
  background-color: #fff;
}

.card_content {
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--neutral_dark_gray);
}

.card_user_image {
  display: flex;
  justify-content: center;
}

.card_user_image img {
  position: absolute;
  border-radius: 50%;
  outline: 5px solid #fff;
  transform: translateY(-50%);
}

.card_name {
  text-align: center;
}
.card_name h1 {
  color: var(--primary_dark_blue);
  font-size: 1.2rem;
  margin-top: 4.5rem;
}

.card_name h1 span {
  color: var(--neutral_dark_gray);
  font-weight: 400;
}

.location {
  font-size: 0.9rem;
  color: var(--neutral_dark_gray);
}

.statistics {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  text-align: center;
  color: var(--primary_dark_blue);
}

.stats span{
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  color: var(--neutral_dark_gray);
}

/* FOOTER START */
.attribution {
  color: #ccc;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #fff;
  text-decoration: none;
}
